/*Have to make changes, not scaling to the browser.*/



background: #319C6D;
border: 1px solid #319C6D;
box-shadow: 0 2px 4px 7px #000000;
background: #BF725B;
border: 1px solid #BF725B;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.74);
background: #FDEB96;
border: 1px solid #FDEB96;
box-shadow: 0 2px 4px 2px #000000;


background: #D0B697;
border: 1px solid #979797;
box-shadow: 0 2px 4px 0 #000000;
background: #D8D8D8;
border: 5px solid #838383;
box-shadow: 0 2px 4px 0 #000000;
border: 6px solid #44322E;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border: 4px solid #000000;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.53);
border: 5px solid #000000;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.53);
background: #D8D8D8;
border: 4px solid #44322E;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
background: #BF725B;
border: 6px solid #000000;
box-shadow: 0 2px 4px 0 #000000;
background: #FDEB96;
border: 6px solid #000000;
box-shadow: 0 2px 4px 0 #000000;
background: #5A3763;
border: 6px solid #000000;
box-shadow: 0 2px 4px 0 #000000;
background: #A09F2B;
border: 4px solid #000000;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.33);
background: #A09F2B;
border: 4px solid #000000;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09);
background: #5A3763;
border: 4px solid #000000;
box-shadow: 0 2px 4px -1px rgba(0,0,0,0.50);
background: #5A3763;
border: 4px solid #000000;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04);


border: 3px solid #000000;
border: 3px solid #000000;
border: 3px solid #000000;
border: 6px solid #44322E;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border: 6px solid #44322E;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border: 14px solid #44322E;
box-shadow: 0 2px 4px 0 #000000;
border: 12px solid #000000;
box-shadow: 0 2px 4px 0 #000000;
border: 8px solid #000000;
box-shadow: 0 2px 4px 0 #000000;
border: 8px solid #000000;
box-shadow: 0 2px 4px 0 #000000;
border: 8px solid #000000;
box-shadow: 0 2px 4px 0 #000000;
border: 8px solid #000000;
box-shadow: 0 2px 4px 0 #000000;
border: 1px solid #D0B697;
box-shadow: 0 2px 7px -1px #000000;
background: #920606;
border: 1px solid #D0B697;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.00);
background: #920606;
border: 1px solid #D0B697;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.00);
background: #706767;
border: 1px solid #706767;
box-shadow: 0 2px 4px 0 #000000;
background: rgba(135,15,15,0.98);
border: 1px solid rgba(135,15,15,0.92);
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
background: #D8D8D8;
border: 1px solid #D8D8D8;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
background: #D8D8D8;
border: 1px solid #D8D8D8;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.00);
background: #D0B697;
border: 1px solid #D0B697;
border: 1px solid #E2D5D5;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border: 1px solid #E2D5D5;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border: 1px solid #E2D5D5;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border: 1px solid #E2D5D5;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border: 1px solid #E2D5D5;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border: 1px solid #E2D5D5;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border: 1px solid #E2D5D5;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
background: #D8D8D8;
border: 1px solid #000000;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
background: #B4B2B2;
border: 1px solid #B4B2B2;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.00);
background: #D0B697;
border: 1px solid #D0B697;
background: #D0B697;
border: 1px solid #44322E;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
background: #D0B697;
border: 1px solid #44322E;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.00);
border: 3px solid #44322E;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border: 3px solid #44322E;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.38);
border: 3px solid #44322E;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.38);
border: 3px solid #44322E;





font-family: Skia-Regular_Bold;
font-size: 125px;
color: #FFFFFF;
text-shadow: 0 2px 4px #000000;
font-family: Skia-Regular_Bold;
font-size: 109px;
color: #000000;
text-shadow: 0 2px 4px #000000;