body {
    margin:0;
    height:100vh;
    display: flex;
    flex-direction: column;
    background-image:
        linear-gradient(to bottom right, transparent, 50%, white 49%),
        radial-gradient(circle at top, #A09F2B, black);
    background-repeat: no-repeat;
  }

  * {box-sizing: border-box;}

.Header1 {
    font-family: Helvetica-Bold;
    font-size: 8vw;
    color: #CDCDCD;
    text-shadow: 0 2px 4px #000000;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: space-between;
    margin: 10px;
}

.Header2 {
    font-family: HelveticaNeue;
    font-size: 5vw;
    color: #CDCDCD;
    text-shadow: 0 2px 4px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
    margin-top: 10vh;

}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#Main-Button{
    background-image: radial-gradient(200% -200%, #000000 -10%, #309975 80%);
    border: 1px solid #000000;
    box-shadow: 0 1px 4px 1px #000000;
    border-radius: 23px;
    padding: 2vh 4vw;
    margin:  -5vh 10px;
    margin-left: 13px;
    font-size: 2vw;
    font-family: Helvetica, sans-serif
    font-color: #cdcdcd;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbutton {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbutton, .signupbutton {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 10vh;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 7vh;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
    
    position: absolute;
    right: 10vw;
    bottom: -1.3vh;
    max-width: 30vw;
    height: 68vh;
    width: auto\9; 
}


/* background-image: url('css/closet.png'); */

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
